# Файлы сборки и бинарники
/build/
/out/
*.jar
*.class

# Логи и кэш
/logs/
/.gradle/
/gradle-user-home/

# Локальные настройки и IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
local.properties
gradle-wrapper.properties

# Файлы ОС
.DS_Store
Thumbs.db
*.log
*.tmp

# Автогенерируемые файлы
bin/
gen/
eclipse/
run/
